<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105949843153-vfp79b4iv2v35s8ghe3f4d4gd337iusp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105949843153-vfp79b4iv2v35s8ghe3f4d4gd337iusp</string>
	<key>API_KEY</key>
	<string>AIzaSyBxd_2BJu0tlnCtli1GQPKd9ZKkpkjY0GM</string>
	<key>GCM_SENDER_ID</key>
	<string>105949843153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalProject</string>
	<key>PROJECT_ID</key>
	<string>healthtrack-f8d37</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtrack-f8d37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105949843153:ios:cefe14a8dc5e9b9beffff0</string>
</dict>
</plist>